<div x-data="{
    term: '',
    reference: '',
    loading: false,
    options: [],
    select(index) {
        \{{$attributes->get('x-model')}} = this.options[index].id;
        this.term = this.options[index].label;
        this.options = [];
    },
    reset() {
        \{{$attributes->get('x-model')}} = '';
        this.term = '';
        this.options = [];
    },
    closeOptions() {
        this.options = [];
    },
    init(term) {
        if (term) {
            this.term = term;
        }
        $watch('\{{$attributes->get('x-model')}}', value => \{{$attributes->get('@change')}});
    },
    loadOptions() {
        const reference = this.term + (new Date).getTime();
        this.reference = reference;
        this.loading = true;
        if (!this.term) {
            this.loading = false;
            this.options = [];
        }
        window.axios.get('\{{$attributes->get('url')}}?term=' + this.term)
            .then(response => {
                if (this.reference === reference) {
                    this.options = response.data;
                }

            }).catch(error => {
                if (this.reference === reference) {
                    this.options = [];
                }
            }).finally(() => {
                this.loading = false;
            });
    }
}" x-init="init('\{{ $attributes->get('term', '') }}')" class="relative">
    <input type="hidden" {!! $attributes->only(['name', 'x-model']) !!} />
    <div class="relative flex w-full">
        <span x-cloak x-show="loading" class="inline-flex items-center rounded-l-md border border-r-0 border-gray-300 bg-gray-200 px-3 text-sm text-gray-900 dark:border-zinc-600 dark:bg-zinc-600 dark:text-gray-400">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4 w-4 animate-spin">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
            </svg>
        </span>
        <span x-cloak x-show="!loading && !\{{$attributes->get('x-model')}}" class="inline-flex items-center rounded-l-md border border-r-0 border-gray-300 bg-gray-200 px-3 text-sm text-gray-900 dark:border-zinc-600 dark:bg-zinc-600 dark:text-gray-400">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
            </svg>
        </span>
        <span x-cloak x-show="!loading && \{{$attributes->get('x-model')}}" class="inline-flex items-center rounded-l-md border border-r-0 border-gray-300 bg-gray-200 px-3 text-sm text-gray-900 dark:border-zinc-600 dark:bg-zinc-600 dark:text-gray-400" x-text="\{{$attributes->get('x-model')}}"></span>
        <input
            {!! $attributes->only(['id']) !!}
            x-model="term"
            name="\{{ $attributes->get('name') . '_term' }}"
            x-on:input.debounce="loadOptions()"
            type="text"
            autocomplete="off"
            class="block w-full min-w-0 flex-1 rounded-none rounded-r-lg border border-gray-300 bg-gray-50 p-2.5 pr-7 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-zinc-600 dark:bg-zinc-700 dark:text-white dark:placeholder-zinc-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
        />
        <button x-show="!loading && \{{$attributes->get('x-model')}}" @click="reset()" type="button" class="absolute inset-y-0 right-0 flex items-center pr-3">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4 w-4 text-gray-500 hover:text-gray-900 dark:text-zinc-400 dark:hover:text-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>
    </div>
    <template x-if="options.length">
        <div class="absolute z-10 w-full rounded-lg border border-gray-100 bg-white pt-8 text-sm shadow-md dark:border-zinc-700 dark:bg-zinc-700">
            <button  @click="closeOptions()" type="button" class="float-right mr-1 -mt-6">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4 w-4 text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
            <ul class="w-full rounded-lg bg-white text-sm font-medium text-gray-900 dark:bg-zinc-700 dark:text-white">
                <template x-for="(option, index) in options" :key="option.id">
                    <li @click="select(index)" class="w-full cursor-pointer border-t border-gray-200 px-4 py-2 dark:border-zinc-600" x-text="`${option.label} - (${option.id})`"></li>
                </template>
            </ul>
        </div>
    </template>
</div>
